<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request Expert</title>
    <link href="{{url_for('static',path="/css/authorizer.css")}}" rel="stylesheet"/> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% include 'navbar.html' %}
</head>

  <body>
    <div class="parent">
      <div class="paperpage">
        <h1 class="titel">Beheerderpagina</h1>
        <h3 class="pageinfo">Dit is de beheerder pagina op deze pagina kan je navigeren naar verschillende aanvragingen en deze ook goedkeuren!</h3>
        <div id="requestContainerAuthorizer">
          <div class="card">
            <h2 class="cardtitel">Ervaringsdeskundige aanvragingen!</h2>
            <h4 class="cardinfo">Klik op de knop beneden om de aanvragingen van gebruiker om een ervaringsdeskundige goed te keuren!</h4>
            <a href="/reviewexpertrequests" class="cardbutton"><h4>Bekijk!</h4></a>
          </div>
          <div class="card">
            <h2 class="cardtitel">Onderzoek aanmeldingen!</h2>
            <h4 class="cardinfo">Klik op de knop beneden om de aanmeldingen voor onderzoeken goed te keuren!</h4>
            <a href="/getallexpertresearchregistrations" class="cardbutton"><h4>Bekijk!</h4></a>
          </div>
          <div class="card">
            <h2 class="cardtitel">Bedrijf aanmeldingen</h2>
            <h4 class="cardinfo">Klip op de knop beneden om de aanmeldingen voor bedrijven goed te keuren!</h4>
            <a href="/reviewcompanyrequests" class="cardbutton"><h4>Bekijk!</h4></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
